.thumbnail {
    width: 150px;
}

p {
    margin: 0;
}

.plant-list {
    display: flex;
    flex-wrap: wrap;
}

.plant {
    padding-top: 6px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 6px;
}

